+++
title = "learn-machine"
linkTitle = "learn-machine"

+++

{{< blocks/cover title="learn-machine: A knowledgebase by @goforaditya!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Let's Learn <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>

	<p class="lead mt-5">Will keep on adding new learnings everyday!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
learn-machine provides an oraganized and efficient learning platform.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-lightbulb" title="Discover New!" %}}
Topics range from ML, Full-Stack, INFRA, Data Engg. and more...
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Comments are welcome!" url="https://github.com/goforaditya/learn-machine/issues" %}}
We consider [suggestions](https://github.com/goforaditya/learn-machine/issues) on **GitHub**.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Let's <a href="/docs">learn !</a></h1>
</div>

{{< /blocks/section >}}
